.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .App-header, .App-footer {
    background: linear-gradient(to right, #004AAD, #000000);
    padding: 20px;
    color: #27E400;
  }
  
  .App-main {
    padding: 20px;
    flex: 1;
  overflow-y: auto;
  }
/* Estilos para a barra de navegação */
.App-navbar {
  margin-top: 0px; /* Ajuste conforme necessário */
  width: 100%; /* Garante que a barra de navegação ocupe toda a largura */
}

.App-navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Alinha os itens à direita */
}

.App-navbar li {
  margin-left: 20px; /* Adiciona margem à esquerda entre os itens */
}

.App-navbar a {
  text-decoration: none; /* Remove a decoração de texto dos links */
  color: #27E400; /* Define a cor do texto */
  font-weight: bold; /* Torna o texto em negrito */
  font-size: 18px; /* Define o tamanho da fonte */
  position: relative; /* Define a posição relativa para permitir o posicionamento do pseudo-elemento */
  transition: color 0.3s ease; /* Adiciona uma transição suave para a cor do texto */
}

/* Adiciona um efeito de sublinhado ao passar o mouse sobre os links */
.App-navbar a::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Define a posição do sublinhado */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #27E400; /* Define a cor do sublinhado */
  transform: scaleX(0); /* Inicialmente, o sublinhado está invisível */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para a transformação */
}

.App-navbar a:hover::after {
  transform: scaleX(1); /* Torna o sublinhado visível ao passar o mouse sobre o link */
}

  
  /* Estilos para o ícone de login */
  .App-navbar .fas {
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto do link */
  }
  /* Estilos para o banner */
  .banner {
    width: 120%; /* Garante que o banner tenha a mesma largura que a barra de navegação */
    margin-top: -20px; /* Ajuste conforme necessário */
    position: relative;
    z-index: -1;
    margin-left: -10%
    
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos toda a altura da tela */
  }
  
  .App-main {
    flex: 1; /* Faz com que o conteúdo principal ocupe todo o espaço disponível */
    padding: 20px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo ultrapassa a altura da janela do navegador */
  }  
  
  .App-footer {
    background-color: #333;
    color: #27E400;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    width: 250px; /* Defina a largura desejada para os cards */
    border: 1px solid #27E400;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #27E400;
    transition: transform 0.3s ease; /* Adiciona uma transição suave para a propriedade transform */
  }
  
  .card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card em 5% quando o mouse estiver sobre ele */
  }
  
  
  
  .card img {
    max-width: 100px; /* Defina a largura máxima desejada para a imagem */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  .card-content p {
    margin-bottom: 0;
  }
  
  .footer {
    background-color: #004AAD;
    color: white;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    overflow: hidden; /* Adiciona overflow hidden */
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-item1 {
    flex-basis: 40%;
  }
  
  .footer-item1 img {
    margin-bottom: 20px;
  }
  
  .footer-item1__links a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer-item2 {
    flex-basis: calc(30% - 20px); /* -20px para levar em conta a margem entre os itens */
  }
  
  .footer-item2 h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-item2 h2, .footer-item2 h3 {
    margin-bottom: 10px;
  }
  
  .footer-wlib {
    margin-top: 20px;
    color: white;
    text-decoration: none;
  }
  
  .footer-wlib strong {
    font-weight: bold;
  }
  
  .animated-link {
    background-color: #27E400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .animated-link:hover {
    background-color: #1CAE00;
  }
  
  .animated-heading {
    font-size: 24px;
    margin-bottom: 10px;
    animation: fadeIn 1s ease;
  }
  
  .animated-subheading {
    margin-bottom: 10px;
    animation: fadeIn 1s ease;
  }
  
  .animated-text {
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  
/* Estilo para o ícone na barra de navegação */
.App-navbar .icon {
  margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto do link */
}

/* Estilo para alinhar os itens da navegação */
.nav-item {
  display: inline-block;
  vertical-align: middle;
}

.rounded-button {
  border-radius: 20px; /* Define a borda arredondada */
  background-color: #27E400; /* Define a cor de fundo */
  color: white; /* Define a cor do texto */
  padding: 10px 20px; /* Adiciona espaço interno */
  border: none; /* Remove a borda */
  cursor: pointer; /* Adiciona cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
}

.rounded-button:hover {
  background-color: #1E9E00; /* Muda a cor de fundo ao passar o mouse */
}

.card-content button {
  margin-top: 10px; /* Adiciona margem entre o texto e o botão */
}

.divider {
  border-bottom: 1px solid #27E400; /* Linha divisória fina */
  margin: 10px 0; /* Espaçamento em cima e embaixo da linha */
}


.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
}

.logo {
  height: 70px;
}

.card-content p.price {
  font-weight: bold;
}

.footer-item1__links button {
  margin-right: 10px; /* Adiciona margem à direita entre os botões */
}

/* Estilos para os botões */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: 110px;
  height: 100px;
  background-color: white;
  color: #27E400;
  border: 2px solid #27E400;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px; 
  margin-bottom: 10px;
 
}

.button:last-child {
  margin-right: 0; /* Remove o espaço à direita do último botão */
}
.button:hover {
  background-color: #f0f0f0; /* Alterado para cinza claro ao passar o mouse */
}

.button span {
  margin-top: 5px;
}
.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}